.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-direction-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    height: 38px;
    font-size: var(--font-size-action-button);
    border: 0;
    border-radius: 99px;
    padding: 0 16px;
    transition: var(--transition-linear);
    cursor: pointer;
    color: var(--color-black-tiny);
    width: fit-content;
}

.action-button-base {
    background: var(--color-container-second);
}

.action-button-base:hover {
    opacity: 0.8;
}

.action-button-border {
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.action-button-border:hover {
    background: var(--color-white);
    color: var(--color-black-text);
}

.action-button-accent-border {
    background: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
}

.action-button-accent-border:hover {
    background: var(--color-accent);
    color: var(--color-white);
}

.action-button-accent {
    background: var(--color-accent);
    color: var(--color-white);
}

.action-button-accent:hover {
    background: var(--color-accent-hover);
}

.section {
    padding: 100px 0;
}

.section-blacked {
    background: var(--color-block);
}

.shop-button {
    position: fixed;
    cursor: pointer;
    right: 25px;
    bottom: 25px;
    width: 55px;
    height: 55px;
    z-index: 100;
    border-radius: 50%;
    font-size: var(--font-size-shop);
    background: var(--color-accent);
    color: var(--color-white);
    transition: var(--transition-linear);
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.shop-button:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -15px;
    left: -15px;
    background-color: var(--color-accent);
    width: 85px;
    height: 85px;
    border-radius: 100%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    opacity: 0.6;
    -webkit-animation: pulse 1s ease-out;
    animation: pulse 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.shop-button:hover {
    background: var(--color-accent-hover);
}

#header {
    width: 100%;
}

.section-header {
    height: 100%;
    padding: 37px 0 100px 0;
    background: var(--color-container-base);
}

.menu {
    display: flex;
    align-items: center;
    gap: 73px;
}

.menu a {
    transition: var(--transition-linear);
    font-size: var(--font-size-menu);
    font-weight: 600;
    color: var(--color-accent);
}

.menu a:hover {
    color: var(--color-accent-hover);
}

.header-article {
    text-align: center;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-article h1 {
    text-wrap: balance;
    font-size: var(--font-size-header-h1);
    line-height: 1.2;
    margin: 0;
}

.header-article p {
    margin: 8px 0 0 0;
    font-size: var(--font-size-header-p);
}

.header-cards {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-card-padding {
    padding: 15px;
}

.header-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    border-radius: 34px;
    overflow: hidden;
    position: relative;
    height: 430px;
    background: var(--color-white);
}

.header-card-full {
    border-radius: 42px;
}

.header-card-text {
    font-weight: 600;
    text-align: left;
}

.header-card-text span {
    font-size: var(--font-size-card-text-span);
    line-height: 1.2;
}

.header-card-text p {
    font-size: var(--font-size-card-text-p);
    line-height: 1.2;
}

.header-card-img {
    width: 100%;
    height: 263px;
    overflow: hidden;
    border-radius: 15px;
}

.header-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-card-1 {
    top: -25px;
}

.header-card-2 {
    top: 69px;
}

.header-card-3 {
    top: 40px;
}

.header-card-4 {
    top: -25px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: var(--font-size-section-title-h2);
    margin: 0;
}

.section-title span {
    font-size: var(--font-size-section-title-span);
}

.section-title div {
    font-size: var(--font-size-section-title-div);
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.about-cards > div:nth-child(1) {
    grid-row: span 2 / span 2;
}

.about-cards > div:nth-child(2) {
    grid-column: span 2 / span 2;
}

.about-cards > div:nth-child(3) {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.about-card {
    border-radius: 50px;
    background: var(--color-accent);
    padding: 60px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-card img {
    width: 152px;
    height: 74px;
    object-fit: cover;
}

.about-card div {
    font-size: var(--font-size-about-card-div);
    font-weight: 600;
    line-height: 1.2;
}

.about-card p {
    font-size: var(--font-size-about-card-p);
    margin: 20px 0 0 0;
    line-height: 1.2;
}
.about-card-light {
    color: var(--color-black-tiny);
    background: var(--color-container-second);
}

.fire-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.fire-card {
    border-radius: 50px;
    background: var(--color-block);
    color: var(--color-black-text);
    padding: 60px 60px 0 60px;
    position: relative;
}

.fire-card article {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    bottom: 0;
}

.fire-card p {
    font-size: var(--font-size-fire-card-p);
    line-height: 1.2;
    text-wrap: balance;
    margin: 0 0 30px auto;
    max-width: 350px;
}

.fire-card img {
    bottom: 0;
    position: absolute;
}

.fire-card div {
    position: relative;
    z-index: 10;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--font-size-fire-card-div);
    margin-bottom: 40px;
}

.fire-card-right {
    text-align: right;
}

.fire-card-right article {
    flex-direction: row-reverse;
    text-align: left;
}

.fire-card-right p {
    margin: 0 auto 30px 0;
}

#footer {
    padding: 0 0 87px 0;
}

.footer-section {
    border-radius: 50px;
    background: var(--color-block);
    color: var(--color-black-tiny);
    display: flex;
    justify-content: space-between;
}

.footer-fasie {
    padding: 60px;
    border-radius: 50px;
    max-width: 732px;
    gap: 35px;
    color: var(--color-white);
    background: var(--color-accent);
}

.footer-fasie img {
    width: 152px;
    height: 74px;
    object-fit: cover;
}

.footer-fasie p {
    margin: 0;
    font-size: var(--font-size-footer-fasie-p);
    line-height: 1.2;
}

.footer-contact {
    padding: 60px;
}

.footer-contact > p {
    margin: 0;
    font-weight: 600;
    color: var(--color-gray);
}

.footer-contact-wrapper {
    margin-top: 35px;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 70px;
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contact-list i {
    font-size: var(--font-size-footer-contact-list-icon);
    line-height: 0;
}

.footer-contact-list a, .footer-contact-list div {
    display: flex;
    transition: var(--transition-linear);
    align-items: center;
    font-weight: 600;
    color: var(--color-black-tiny);
    gap: 10px;
    font-size: var(--font-size-footer-contact-list);
    cursor: pointer;
}

.footer-contact-list a:hover {
    color: var(--color-accent);
}

.slide {
    gap: 160px;
}

.slide-image img {
    width: 570px;
    border-radius: 30px;
    object-fit: cover;
}

.slide-text div {
    font-size: var(--font-size-slide-text-div);
    font-weight: 600;
    line-height: 1.2;
}

.slide-text p {
    margin: 27px 0 0 0;
    font-size: var(--font-size-slide-text-p);
    text-wrap: balance;
    line-height: 1.2;
}

.owl-carousel .owl-item img {
    width: 550px;
}

.owl-action {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 100px;
    border-radius: 24px;
    transition: var(--transition-linear);
    border: 1px solid var(--color-accent);
}

.owl-nav {
    margin-top: 26px;
}

.owl-action:active {
    color: var(--color-white);
    background: var(--color-accent);
}

@media (hover: hover) {
    .owl-action:hover {
        color: var(--color-white);
        background: var(--color-accent);
    }
}

.owl-prev {
    margin-right: 16px;
}

.banner {
    border-radius: 50px;
    padding: 80px 60px;
    background: url("../../public/noise.png") var(--color-accent);
    color: var(--color-white);
    margin-bottom: 60px;
    height: 216px;
}

.banner h2 {
    margin: 0;
        font-size: var(--font-size-banner-h2);
}

.mobile-section {
    display: none;
    position: fixed;
    z-index: 10000;
    transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-property: background-color, box-shadow;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: hsla(0, 0%, 100%, .8);
    top: 0;
    left: 0;
    width: 100%;
}

.mobile-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}

.mobile-menu {
    display: none;
    padding: 16px 0;
}

.mobile-menu li a {
    color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all .2s linear;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
}

.mobile-nav {
    height: 60px;
    padding: 0 10px;
}

.mobile-button {
    font-size: 29px;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    inset: 0;
    background: var(--color-modal);
    backdrop-filter: blur(5px);
    display: none;
}

.modal-container {
    min-height: 100%;
    padding: 20px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-height: 100%;
    max-width: 620px;
    min-width: 600px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 10px 15px 0 rgba(42, 49, 55, 0.4);
    will-change: transform;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.modal-buttons {
    gap: 12px;
}

.modal-buttons button {
    width: 100%;
    height: 44px;
}

.modal-header {
    margin-bottom: 20px;
}

.modal-header h3 {
    font-size: 18px;
    margin: 0;
    color: var(--color-black-tiny);
}

.modal-header p {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #535862;
}

.modal-action {
    cursor: pointer;
    font-size: 24px;
    color: #717680;
}

.modal-article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label-title {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-black-tiny);
}

.label-title i {
    font-style: normal;
    color: #ED2727;
}

.input {
    font-size: 15px;
    background: transparent;
    border: 1px solid #D5D7DA;
    appearance: none;
    border-radius: 8px;
    min-height: 44px;
    box-shadow: 0 1px 2px 0 #0A0D120D;
    outline: none;
    padding: 10px 14px;
}

.input.error {
    border-color: #ED2727;
}

.label-error {
    font-size: 14px;
    color: #ED2727;
    display: none;
}

textarea.input {
    min-height: 100px;
    resize: none;
}

.no-scroll {
    overflow: hidden;
}

.spinner-bth {
    animation: rotate 0.6s linear infinite;
    z-index: 2;
    width: 18px;
    height: 18px;
}

.spinner-bth .path {
    stroke: #fff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
